= content_for :page_title, "Models"

- @models.each do |model|
  %h3
    = model.name
  %ul
    - model.schema.each do |column, hash|
      %li
        %p
          = column
          (#{hash["type"]})
