= content_for :definition_section_content do
  .section__content
    %h2
      What is an
      <span>Application</span>?
    %p
      Your application allows users to interact with your service or product
      from their laptop and mobile devices.

%section.definition
  .section__pattern
    = yield :definition_section_content
  = yield :definition_section_content
