= content_for :definition_section_content do
  .section__content
    %h2
      What is a
      <span>Backend</span>?
    %p
      Your backend is responsible for saving information, processing payments,
      emailing users, uploading images, sending text messages, and much more.

%section.definition
  .section__pattern
    = yield :definition_section_content
  = yield :definition_section_content
