%section.features
  .section__content
    %h2
      Zero to one hundred
    .steps
      .step
        .step__body
          .step__body__image
            %i.fa.fa-magic
          .step__body__title
            %h4
              Zero code
          .step__body__text
            %p
              Our tool is ultra
              %span
                simple
              so that you will never have to write a single line of code
      .step
        .step__body
          .step__body__image
            %i.fa.fa-cogs
          .step__body__title
            %h4
              Customizable
          .step__body__text
            %p
              Make anything your business requires and as fast as you need,
              you hold all the
              %span
                power
      .step
        .step__body
          .step__body__image
            %i.fa.fa-shield
          .step__body__title
            %h4
              Dependable
          .step__body__text
            %p
              You never have to worry because we
              host, maintain, and document
              %span
                everything
              for your application
    .clear
