.content__body
  %h3
    = @app.name
  %p
    = link_to "Status", status_backend_app_path(@app)
  %p
    Add
    = link_to "more features", new_backend_app_feature_path(@app)
  %p
    Customize app (edit manually)
  %p
    Documentation!
  %p
    API endpoints!
  %p
    Logs (history)
  %p
    Add users (developers) to the app
  %p
    Access tokens
  %p
    Admin panel for data management
