.form__button {
  @include border-radius;
  @include browser(appearance, none);
  @include transition;
  border: none;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 2px;
  border-style: solid;
  color: $white;
  font-family: $font-family;
  font-size: $font-size-normal-1;
  padding: $spacing * 0.5 $spacing;
  &:hover {
    cursor: pointer;
  }
}
.form__button--green {
  @extend .form__button;
  background-color: $green;
  border-color: $green-dark;
  &:hover {
    background-color: $green-hover;
  }
}
.form__button--medium {
  @extend .form__button;
  font-size: $font-size-medium-1;
  padding: $spacing * 0.75 $spacing * 2;
}
.form__button--width {
  @extend .form__button;
  width: 100%;
}
