%h3
  Column details
.form__field
  = text_field_tag :name, "", class: "form__input",
    placeholder: "Column name"
.form__field
  .form__field__text
    %p
      Data type
  = select_tag :type, options_for_select(Model::COLUMN_TYPES, "string"),
    class: "form__input"
  = text_field_tag :relationship_to, "", class: "form__input",
    placeholder: "Relationship to"
.form__field
  %p
    Is this column a required field?
  = check_box_tag :required
