$header-height: $spacing * 3;

header {
  background-color: $blue;
  height: $header-height;
  width: 100%;
  .header {
    padding: 0 $spacing;
    .logo {
      @include existence-light;
      color: $white;
      display: block;
      float: left;
      font-size: $font-size-medium-2;
      font-weight: $font-weight-medium;
      line-height: $header-height;
    }
    nav {
      &.right {
        float: right;
      }
      a {
        display: block;
        color: $white;
        float: left;
        font-size: $font-size-normal-1;
        line-height: $header-height;
        margin-left: $spacing;
      }
    }
  }
}
